// 修正第三方样式
.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: 1px !important;
  text-rendering: optimizeLegibility;
}
